# Prerequisites
*.d
.cache.mk

# Object files
*.o
*.ko
*.elf

# Linker output
*.map

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# test-oriented
client
out
perf.data

# editor config
.vimrc

# cscope and tags
cscope.*
tags

# experiment's programs
expt00_checkvalues92
expt01_userkernel
expt02_times
expt03_perf
fib_seq_92
expt04_exactsol
fbn_debug
expt05bn_userkernel
expt06bn_ktime
expt07bn_perf
