# Prerequisites
*.d
.cache.mk

# Object files
*.o
*.ko
*.elf

# Linker output
*.map

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# test-oriented
client
out

# editor config
.vimrc

# cscope and tags
cscope.*
tags

# experiment's programs
expt01_userkernel
expt02_vlafree
expt03_vlafree_perf
